table tr th {
    color: white;
    background-color: green;
}
tr:nth-child(odd) {
    background-color: #e0e0e0;
  }
  table, th, td {
    border: 3px solid rgb(4, 97, 4);
    border-collapse: collapse;
  }
  u {
    color: rgb(0, 128, 85);
  }